<div>

    <form id="productForm">
  <input type="text" id="titleInput" name="title" placeholder="Título" required>
  <input type="text" id="descriptionInput" name="description" placeholder="Descripción" required>
  <input type="number" id="priceInput" name="price" placeholder="Precio" required>
  <input type="text" id="thumbnailInput" name="thumbnail" placeholder="thumbnail" required>
  <input type="text" id="codeInput" name="code" placeholder="code" required>
  <input type="number" id="stockInput" name="stock" placeholder="stock" required>
  <input type="text" id="categoriaInput" name="categoria" placeholder="categoria" required>
  <button type="submit" id="button">Agregar Producto</button>
</form>
<ul id="lista-productos" style="display: flex;flex-wrap: wrap;">
    
</ul>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
 
        socket.on('productos', (productos) => {
        const listaProductos = document.getElementById('lista-productos');
        console.log(productos)
        
        listaProductos.innerHTML = '';
        
        productos.forEach(producto => {
            const card = document.createElement('div');
            card.classList.add('card');
            card.style.display = 'flex';
            card.style.flexDirection = 'column';
            card.style.margin = 10;
            card.style.border = '1px solid #000'


            const title = document.createElement('h2');
            title.textContent = producto.title;

            const description = document.createElement('p');
            description.textContent = producto.description;

            const price = document.createElement('p');
            price.textContent = `Precio: ${producto.price} USD`;

            const stock = document.createElement('p');
            stock.textContent = `Stock: ${producto.stock}`;

            // Agrega elementos a la tarjeta
            card.appendChild(title);
            card.appendChild(description);
            card.appendChild(price);
            card.appendChild(stock);
          

            // Agrega la tarjeta a la lista de productos
            listaProductos.appendChild(card);
        });
        });

        document.getElementById("productForm").addEventListener("submit", function (event) {
      event.preventDefault(); // Prevenir el envío del formulario

      // Obtener los valores de los campos del formulario
      const title = document.getElementById("titleInput").value;
      const description = document.getElementById("descriptionInput").value;
      const price = parseFloat(document.getElementById("priceInput").value);
      const thumbnail = document.getElementById("thumbnailInput").value;
      const code = document.getElementById("codeInput").value;
      const stock = parseInt(document.getElementById("stockInput").value);
      const categoria = document.getElementById("categoriaInput").value;
      
      const producto = {
        title: title,
        description: description,
        price: price,
        thumbnail: thumbnail,
        code: code,
        stock: stock,
        category:categoria
      };
      
        socket.emit('newProduct',producto);

          titleInput.value = "";
          descriptionInput.value = "";
          priceInput.value = "";
          thumbnailInput.value = "";
          codeInput.value = "";
          stockInput.value = "";
          categoriaInput.value = "";

    });
 


    </script>
</div>